/*Especificidad: 001*/
body {
  display:grid;
  grid:  "ad ad ad" "hd hd hd "  "m m m " "f f f";

  font-family: Tahoma, sans-serif;
  color: #818181;
  background-color: rgb(128, 120, 87);
  }

  header{
    grid-area: hd;
    min-width: 12em;
  }
  main{
    grid-area: m;
    border: 0.1em salmon;
    margin-bottom : 0.1em;
  }
  address{
    grid-area: ad;
  }
  footer{
    grid-area: f;
    min-width: 10em;
  }
/*Especificidad: 001*/
h1 {
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;     
  }
nav {
    color: #fff;    
    background-color:#775a5a; 
    text-transform: uppercase;
    padding: 2em; 
    text-align: center;     
    }
th{
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  
}
table{
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  
}
p{
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  
}
li{
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  
}
caption{
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  
}
title{
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center; 
}
fieldset{
  color: rgb(46, 37, 37);    
    background-color:#775a5a; 
    text-transform: uppercase;
    padding: 2em; 
    
}
label{
  color: #fff;    
    
    text-transform: uppercase;
    padding: 2em; 
     
}
legend{
  color: rgb(0, 0, 0);    
    text-transform: uppercase;
    padding: 2em; 
}
a{
  color: rgb(255, 255, 255); 
  text-align: center; 
}


  
    

