/*Especificidad: 001*/
body {
  display:grid;
  grid:  "ad ad ad ad" "hd hd hd hd "  "m m m m"  "f f f f";

  font-family: Tahoma, sans-serif;
  color: #818181;
  background-color:#ac8d54; 
  }

  header{
    grid-area: hd;
    min-width: 12em;
  }
  main{
    grid-area: m;
    border: 0.1em salmon;
    margin-bottom : 0.1em;
  }
  address{
    grid-area: ad;
  }
  footer{
    color: #fff; 
    grid-area: f;
    min-width: 10em;
    font-size:xx-small;
    background-color:#775a5a; 
  }
  
  
/*Especificidad: 001*/
h1 {
  border-style:dashed;
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;     
  }
nav {
    color: #fff;    
    background-color:#775a5a; 
    text-transform: uppercase;
    padding: 2em; 
    text-align: center;     
    }
table{
  color:white;
  background-color:#775a5a; 
  border-collapse: collapse;
}
table th{
  color:white;
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center; 
  border:  0.1em solid rgb(0, 0, 0);
  background-color:#775a5a; 
}
table td{
  color:white;
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center; 
  border:  0.1em solid rgb(0, 0, 0);
  background-color:#775a5a; 
}
table tr{
  color:white;
  border:  0.1em solid rgb(0, 0, 0);
  background-color:#775a5a; 
}


p{
  color: rgb(255, 255, 255); 
  background-color:#775a5a; 
  
}
li{
  border-style:inset;
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  
}
caption{
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  
}
title{
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center; 
}
fieldset{
  color: rgb(46, 37, 37);    
  background-color:#775a5a; 
    text-transform: uppercase;
    padding: 2em; 
    
}
label{
  color: #fff;    
    
    text-transform: uppercase;
    padding: 2em; 
    background-color:#775a5a; 
     
}
legend{
  color: rgb(0, 0, 0);    
    text-transform: uppercase;
    padding: 2em; 
    background-color:#775a5a; 
}
a{
  color: rgb(255, 255, 255); 
  text-align: center; 
  background-color:#775a5a; 
}

  
    

