/*Especificidad: 001*/
body {
  display:grid;
  grid:  "ad ad ad" "hd hd hd "  "m m m " ;

  font-family: Tahoma, sans-serif;
  color: #818181;
  background-color: rgb(128, 120, 87);
  }

  header{
    grid-area: hd;
    min-width: 12em;
  }
  main{
    grid-area: m;
    border: 4px salmon;
    margin-bottom : 5px;
  }
  address{
    grid-area: ad;
  }
  
/*Especificidad: 001*/
h1 {
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;     
  }
nav {
    color: #fff;    
    background-color:#775a5a; 
    text-transform: uppercase;
    padding: 2em; 
    text-align: center;     
    }
table{
  color:white;
  border-collapse: collapse;
}
table th{
  color:white;
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center; 
  border:  4px solid rgb(0, 0, 0);
}
table td{
  color:white;
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center; 
  border:  4px solid rgb(0, 0, 0);
}
table tr{
  color:white;
  border:  4px solid rgb(0, 0, 0);
}

p{
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  
}
li{
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  
}
caption{
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  
}
title{
  font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;    
  background-color:#775a5a; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center; 
}
fieldset{
  color: rgb(46, 37, 37);    
    background-color:#775a5a; 
    text-transform: uppercase;
    padding: 2em; 
    
}
label{
  color: #fff;    
    
    text-transform: uppercase;
    padding: 2em; 
     
}
legend{
  color: rgb(0, 0, 0);    
    text-transform: uppercase;
    padding: 2em; 
}
a{
  color: rgb(255, 255, 255); 
  text-align: center; 
}

  
    

